{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Employee onboarding</title>
    <!-- CSS files -->
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
  </head>
  <body class="antialiased">
    <div class="wrapper">
      <header class="navbar navbar-expand-md navbar-light d-print-none">
        <div class="container-xl">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-nav flex-row order-md-last">
            <div class="nav-item dropdown d-none d-md-flex me-3">
              <a href="#" class="nav-link px-0" tabindex="-1">
                <!-- Download SVG icon from http://tabler-icons.io/i/bell -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" /><path d="M9 17v1a3 3 0 0 0 6 0v-1" /></svg>
                <span class="badge bg-red"></span>
              </a>
            </div>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                <span class="avatar avatar-sm">{{ user.initials }}</span>
                <div class="d-none d-xl-block ps-2">
                  <div>{{ user.full_name }}</div>
                  <div class="mt-1 small text-muted">{{ user.get_role_display }}</div>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
              </div>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbar-menu">
            <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
              <ul class="navbar-nav">
                <li class="nav-item dropdown {% if 'people' in request.path %}active{% endif %}">
                  <a class="nav-link dropdown-toggle " href="#navbar-people" data-bs-toggle="dropdown" role="button" aria-expanded="false" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/star -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="9" cy="7" r="4"></circle><path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path><path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path></svg> </span>
                    </span>
                    <span class="nav-link-title">
                      People
                    </span>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'admin:new_hires' %}" >
                      New hires
                    </a>
                      <a class="dropdown-item" href="./activity.html" >
                        Colleagues
                      </a>
                  </div>
                </li>
                <li class="nav-item dropdown {% if 'templates' in request.path %}active{% endif %}">
                  <a class="nav-link dropdown-toggle" href="#navbar-templates" data-bs-toggle="dropdown" role="button" aria-expanded="false" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/star -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-box-multiple" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><rect x="7" y="3" width="14" height="14" rx="2"></rect><path d="M17 17v2a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h2"></path></svg>
                    </span>
                    <span class="nav-link-title">
                      Templates
                    </span>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url "todo:list" %}" >
                      To do
                    </a>
                      <a class="dropdown-item" href="./activity.html" >
                        Resources
                      </a>
                        <a class="dropdown-item" href="./activity.html" >
                          Introductions
                        </a>
                          <a class="dropdown-item" href="./activity.html" >
                            Appointments
                          </a>
                            <a class="dropdown-item" href="./activity.html" >
                              Preboarding
                            </a>
                              <a class="dropdown-item" href="./activity.html" >
                                Badges
                              </a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" role="button" aria-expanded="false">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/star -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-subtask" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="6" y1="9" x2="12" y2="9"></line><line x1="4" y1="5" x2="8" y2="5"></line><path d="M6 5v11a1 1 0 0 0 1 1h5"></path><rect x="12" y="7" width="8" height="4" rx="1"></rect> <rect x="12" y="15" width="8" height="4" rx="1"></rect></svg>
                    </span>
                    <span class="nav-link-title">
                      Sequences
                    </span>
                  </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#navbar-tasks" data-bs-toggle="dropdown" role="button" aria-expanded="false" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/star -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3.5 5.5l1.5 1.5l2.5 -2.5"></path><path d="M3.5 11.5l1.5 1.5l2.5 -2.5"></path><path d="M3.5 17.5l1.5 1.5l2.5 -2.5"></path><line x1="11" y1="6" x2="20" y2="6"></line><line x1="11" y1="12" x2="20" y2="12"></line><line x1="11" y1="18" x2="20" y2="18"></line></svg>
                    </span>
                    <span class="nav-link-title">
                      Tasks
                    </span>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="./activity.html" >
                      Your tasks
                    </a>
                      <a class="dropdown-item" href="./activity.html" >
                        All tasks
                      </a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'settings:general' %}" role="button" aria-expanded="false">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/star -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                    </span>
                    <span class="nav-link-title">
                      Settings
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class="page-wrapper">
        <div class="container-xl">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <h2 class="page-title">
                  {{ title }}
                </h2>
                <div class="page-pretitle">
                  {{ subtitle }}
                </div>
              </div>
              <!-- Page title actions -->
              {% if add_action %}
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                  {% if add_action %}
                  <a href="{{ add_action }}" class="btn btn-primary d-none d-sm-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
                    Add
                  </a>
                  <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-report" aria-label="Create new report">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
                  </a>
                  {% endif %}
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="page-body">
          <div class="container-xl">
            {% for message in messages %}
            <div class="alert alert-success">
              <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            </div>
            {% endfor %}
            {% block content %}
            {% endblock %}
          </div>
        </div>
        <footer class="footer footer-transparent d-print-none">
          <div class="container">
            <div class="row text-center align-items-center flex-row-reverse">
              <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item"><a href="https://docs.chiefonboarding.com" class="link-secondary">Documentation</a></li>
                  <li class="list-inline-item">
                    <a href="https://github.com/chiefonboarding/chiefonboarding" target="_blank" class="link-secondary" rel="noopener">
                      <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path></svg>
                      Source code
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    <a href="https://chiefonboarding.com" class="link-secondary">ChiefOnboarding</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://docs.chiefonboarding.com/changelog" class="link-secondary">v2.0.0</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New report</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input type="text" class="form-control" name="example-text-input" placeholder="Your report name">
            </div>
            <label class="form-label">Report type</label>
            <div class="form-selectgroup-boxes row mb-3">
              <div class="col-lg-6">
                <label class="form-selectgroup-item">
                  <input type="radio" name="report-type" value="1" class="form-selectgroup-input" checked>
                  <span class="form-selectgroup-label d-flex align-items-center p-3">
                    <span class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </span>
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1">Simple</span>
                      <span class="d-block text-muted">Provide only basic data needed for the report</span>
                    </span>
                  </span>
                </label>
              </div>
              <div class="col-lg-6">
                <label class="form-selectgroup-item">
                  <input type="radio" name="report-type" value="1" class="form-selectgroup-input">
                  <span class="form-selectgroup-label d-flex align-items-center p-3">
                    <span class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </span>
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1">Advanced</span>
                      <span class="d-block text-muted">Insert charts and additional advanced analyses to be inserted in the report</span>
                    </span>
                  </span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <div class="mb-3">
                  <label class="form-label">Report url</label>
                  <div class="input-group input-group-flat">
                    <span class="input-group-text">
                      https://tabler.io/reports/
                    </span>
                    <input type="text" class="form-control ps-0"  value="report-01" autocomplete="off">
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mb-3">
                  <label class="form-label">Visibility</label>
                  <select class="form-select">
                    <option value="1" selected>Private</option>
                    <option value="2">Public</option>
                    <option value="3">Hidden</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Client name</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Reporting period</label>
                  <input type="date" class="form-control">
                </div>
              </div>
              <div class="col-lg-12">
                <div>
                  <label class="form-label">Additional information</label>
                  <textarea class="form-control" rows="3"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
              Cancel
            </a>
            <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
              <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
              Create new report
            </a>
          </div>
        </div>
      </div>
    </div>
    {% block js %}

    {% if False %}
    <script type="module">
      import { Editor } from 'https://cdn.skypack.dev/@tiptap/core?min';
      import StarterKit from 'https://cdn.skypack.dev/@tiptap/starter-kit?min'
      window.editor = new Editor({
        element: document.querySelector('.element'),
        extensions: [
          StarterKit,
        ],
        content: "",
      })
    </script>
    <script defer>
      window.onload = function() {
        const value = JSON.parse(document.getElementById('content_json').textContent);
        function formatDataToEditorHTML () {
          let html = ''
          value.forEach(function(one) {
            if (one.type === 'p' && one.content !== '') {
              html += '<p>' + one.content + '</p>'
            }
            if (one.type === 'quote' && one.content !== '') {
              html += '<blockquote>' + one.content + '</blockquote>'
            }
            if (one.type === 'hr') {
              html += '<hr />'
            }
            if (one.type === 'h1' && one.content !== '') {
              html += '<h1>' + one.content + '</h1>'
            }
            if (one.type === 'image') {
              html += '<img src="' + one.files[0].file_url + '" alt="' + one.files[0].id + '" />'
            }
            if (one.type === 'file') {
              html += '<div name="' + one.files[0].name + '" id="' + one.files[0].id + '" disabled="true" class="file" draggable="true" contenteditable="false">' + one.files[0].name + '</div>'
            }
            if (one.type === 'video') {
              html += '<video src="' + one.files[0].file_url + '" id="' + one.files[0].id + '" controls="true" type="video/' + one.files[0].ext + '" draggable="true" class="ProseMirror-selectednode" contenteditable="false"></video>'
            }
            if (one.type === 'h2' && one.content !== '') {
              html += '<h2>' + one.content + '</h2>'
            }
            if (one.type === 'h3' && one.content !== '') {
              html += '<h3>' + one.content + '</h3>'
            }
            if ((one.type === 'ul' || one.type === 'ol') && one.items !== []) {
              html += '<' + one.type + '>'
              one.items.forEach((listItem) => {
                html += '<li>' + listItem.content + '</li>'
              })
              html += '</' + one.type + '>'
            }
          })
          window.editor.commands.setContent(html)
        }
        formatDataToEditorHTML();
      },
      function setLink () {
        const url = window.prompt('URL')
        window.editor.chain().focus().setLink({ href: url }).run()
      },
      function paragraphToHTML (p) {
        let line = ''
        let link = ''
        p.content.forEach(function(one) {
          let text = one.text
          if ('marks' in one) {
            if (one.marks.find(a => a.type === 'italic') !== undefined) {
              text = '<i>' + text + '</i>'
            }
            if (one.marks.find(a => a.type === 'code') !== undefined) {
              text = '<code>' + text + '</code>'
            }
            if (one.marks.find(a => a.type === 'bold') !== undefined) {
              text = '<b>' + text + '</b>'
            }
            if (one.marks.find(a => a.type === 'underline') !== undefined) {
              text = '<u>' + text + '</u>'
            }
            if (one.marks.find(a => a.type === 'strike') !== undefined) {
              text = '<strike>' + text + '</strike>'
            }
            if (one.marks.find(a => a.type === 'link') !== undefined) {
              link = one.marks.find(a => a.type === 'link').attrs.href
              text = '<a href="' + link + '">' + text + '</a>'
            }
          }
          line += text
        })
        return line
      },
      function lineToHTML (items) {
        let line = ''
        let counter = 0
        items.content.forEach(function (paragraph) {
          counter++
          line += this.paragraphToHTML(paragraph)
          if (counter < items.length) {
            line += '<br />'
          }
        })
        return line
      },
      function formatToData (content) {
        const newValue = []
        content.content.forEach(function (one) {
          if (one.type === 'paragraph') {
            if ('content' in one) {
              newValue.push({
                'type': 'p',
                'content': this.paragraphToHTML(one)
              })
            }
          }
          if (one.type === 'image') {
            if ('attrs' in one) {
              newValue.push({
                'type': 'image',
                'content': '',
                'files': [{ id: one.attrs.alt, file_url: one.attrs.src }]
              })
            }
          }
          if (one.type === 'file') {
            if ('attrs' in one) {
              newValue.push({
                'type': 'file',
                'content': '',
                'files': [{ id: one.attrs.id }]
              })
            }
          }
          if (one.type === 'video') {
            if ('attrs' in one) {
              newValue.push({
                'type': 'video',
                'content': '',
                'files': [{ id: one.attrs.id }]
              })
            }
          }
          if (one.type === 'blockquote') {
            if ('content' in one.content[0]) {
              newValue.push({
                'type': 'quote',
                'content': this.lineToHTML(one)
              })
            }
          }
          if (one.type === 'heading') {
            if ('content' in one) {
              newValue.push({
                'type': 'h' + one.attrs.level,
                'content': this.paragraphToHTML(one)
              })
            }
          }
          if (one.type === 'horizontal_rule') {
            newValue.push({
              'type': 'hr',
              'content': ''
            })
          }
          if (one.type === 'bulletList' || one.type === 'orderedList') {
            const listItems = []
            one.content.forEach((item) => {
              if ('content' in item.content[0]) {
                listItems.push({ 'content': this.lineToHTML(item) })
              }
            })
            newValue.push({
              'type': (one.type === 'orderedList') ? 'ol' : 'ul',
              'items': listItems,
              'content': ''
            })
          }
        })
        return newValue
      }
    </script>
    {{ wysiwyg|json_script:"content_json" }}
    {% endif %}
    {% endblock %}
    <script src="{% static 'js/tabler.js' %}"></script>
  </body>
</html>
