{% extends 'no_login_base.html' %}

{% block content %}
<div class="text-center mb-4">
  <a href="."><img src="./static/logo.svg" height="36" alt=""></a>
</div>
<div class="card card-md">
  <div class="card-body">
    <h2 class="card-title text-center mb-4">Please check your email</h2>
    <div class="mb-3">
      <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive that shortly.</p>
      <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    </div>
    <div class="form-footer">
      <a href="{% url 'login' %}" class="btn btn-primary w-100">
        Go back to the login page
      </a>
    </div>
  </div>
</div>
{% endblock %}
