{% extends 'no_login_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form class="card card-md" method="post">
  <div class="card-body">
    <h2 class="card-title text-center mb-4">Change password</h2>
    <div class="mb-3">
      {% if validlink %}
        {% csrf_token %}
        {{ form|crispy }}
      {% else %}
        <p> That didn't go well. This link isn't valid. Please request a new reset URL</p>
      {% endif %}
    </div>
    {% if validlink %}
      <div class="form-footer">
        <button type="submit" class="btn btn-primary w-100">
          Change password
        </button>
      </div>
    {% endif %}
  </div>
</form>
<div class="text-center text-muted mt-3">
  <a href="{% url 'login' %}">Go back to the log in screen</a>
</div>
{% endblock %}
