{% extends 'no_login_base.html' %}
{% load i18n %}
{% load allauth %}

{% block content %}
<div class="card card-md">
  <div class="card-body">
    <h2 class="card-title text-center mb-4">{% trans "Change Password" %}</h2>
    <div class="mb-3">
      {% trans 'Your password is now changed.' %}
    </div>
    <div class="form-footer">
      <a href="{% url 'account_login' %}" class="btn btn-primary w-100">
        {% translate "Go back to the login page" %}
      </a>
    </div>
  </div>
</div>
{% endblock %}
