{% extends 'no_login_base.html' %}
{% load i18n %}

{% block content %}
<div class="card card-md">
  <div class="card-body">
    <h2 class="card-title text-center mb-4">{% translate "Please check your email" %}</h2>
    <div class="mb-3">
      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <p>{% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
    </div>
    <div class="form-footer">
      <a href="{% url 'account_login' %}" class="btn btn-primary w-100">
        {% translate "Go back to the login page" %}
      </a>
    </div>
  </div>
</div>
{% endblock %}
