{% load crispy_forms_tags %}
{% load i18n %}
<div id="form_form">
  <h3>{% trans "Form" %}</h3>
  <p>{% trans "The form option is used when this integration gets added to a user or in a sequence to add specific details. For example: you want to create a new user in a third party application, but you want to be able to select to which group they will be added. You can do that with this option." %}</p>
  <div>
    <div>
      {% for item in integration.manifest_obj.form.all %}
        <h3>Form item</h3>
        <b>ID:</b> {{ item.id }}</br>
        <b>Name:</b> {{ item.name }}</br>
        {% if item.is_input_form_field %}
        <b>This is an input field</b>
        {% else %}
        <b>Input:</b> {{ item.type }}
        {% endif %}
      {% empty %}
        <p>No form items yet</p>
      {% endfor %}
    </div>
    <form>
      <h3> Add form item </h3>
      {{ form|crispy }}
      <button hx-post="{% url 'integrations:manifest-form-add' integration.id %}" hx-select="#form_form" hx-target="#form_form" class="btn btn-primary">Add form item</button>
    </form>
  </div>
</div>
