<div class="row d-flex" style="margin-bottom: 2px">
  <div class="col-11">

    <div class="text-muted" style="margin-bottom: 5px; {% if not read_only %}cursor:pointer{% endif %}" {% if not read_only %}onclick="changeTemplate({{item.id}}, {{condition.pk}}, '{{type}}', {{ provision_created }})" data-bs-toggle="modal" data-bs-target="#modal-template-edit" {% endif %}>
      {{ item.get_icon_template }}
      {{ item.name }}
    </div>
  </div>
  {% if not read_only %}
  <div class="col-1" style="margin-top: -4px;">
    <button class="btn btn-danger btn-sm" hx-delete="{% url 'sequences:template_condition' condition.pk type item.id %}" hx-target="closest .d-flex">
      <svg xmlns="http://www.w3.org/2000/svg" style="margin: 0 -0.25rem 0 -.25rem" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>
  </div>
  {% endif %}
</div>
