<ul class="list list-timeline">

  {# only show unconditioned #}
  <li>
    <div class="list-timeline-icon bg-twitter">
    </div>
    {% for condition in conditions %}
      {% if condition.condition_type == 3 %}
      <div class="list-timeline-content pt-0" style="margin-top: -5px" id="condition-{{condition.id}}">
        {% include '_sequence_condition.html' with condition=condition disable_delete=True %}
      </div>
      {% endif %}
    {% endfor %}
  </li>

  {# before start day #}
  {% for condition in conditions %}
    {% if condition.condition_type == 2 %}
      <li>
        <div class="list-timeline-icon">
        </div>
        <div class="list-timeline-content pt-0" style="margin-top: -5px" id="condition-{{condition.id}}">
          {% include '_sequence_condition.html' %}
        </div>
      </li>
    {% endif %}
  {% endfor %}

  {% for condition in conditions %}
    {% if condition.condition_type == 0 %}
      <li>
        <div class="list-timeline-icon">
        </div>
        <div class="list-timeline-content pt-0" style="margin-top: -5px" id="condition-{{condition.id}}">
          {% include '_sequence_condition.html' %}
        </div>
      </li>
    {% endif %}
  {% endfor %}

  {% for condition in conditions %}
    {% if condition.condition_type == 1 %}
      <li style="z-index:{{ 100|add:forloop.revcounter }}">
        <div class="list-timeline-icon">
        </div>
        <div class="list-timeline-content pt-0" style="margin-top: -5px" id="condition-{{condition.id}}">
          {% include '_sequence_condition.html' %}
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<script>

var dragged;
document.addEventListener("dragstart", function( event ) {
  dragged = event.target;
  event.dataTransfer.setData('id', event.target.dataset.id);
  event.dataTransfer.setData('type', event.target.dataset.type);
  event.target.style.opacity = .5;
}, false);

document.addEventListener("drop", function( event ) {
  // prevent default action
  event.preventDefault();

  const droppedPlace = event.target.closest(".drop")
  if (Boolean(droppedPlace)) {
    const droppedPlace = event.target.closest(".drop")
    const templateId = event.dataTransfer.getData('id');
    const type = event.dataTransfer.getData('type');
    const conditionID = droppedPlace.dataset.id

    if (!(($(droppedPlace).hasClass("before") && ["pendingadmintask", "pendingemailmessage", "pendingslackmessage", "pendingtextmessage", "integration"].includes(type)) || ($(droppedPlace).hasClass("unconditioned") || $(droppedPlace).hasClass("after")))) {
      return
    }

    $(".card").css("background-color", "white")
    if (templateId !== '0' && type !== 'integration') {
      htmx.ajax('POST', `/sequences/condition/${conditionID}/${type}/${templateId}/`, `#condition-${conditionID}`).then(() => {
        initSelectize(`#condition-${conditionID}`)
      });
    } else {
      changeTemplate(parseInt(templateId), conditionID, type)
      $('#modal-template-edit').modal('show')
    }
  }
}, false);

document.addEventListener("dragover", function( event ) {
  // prevent default action
  event.preventDefault();
  event.stopPropagation();
  const droppedPlace = event.target.closest(".drop")
  if (Boolean(droppedPlace)) {
    const type = event.dataTransfer.getData('type');
    const droppedPlace = event.target.closest(".drop")
    console.log(type)
    if (($(droppedPlace).hasClass("before") && ["pendingadmintask", "pendingemailmessage", "pendingslackmessage", "pendingtextmessage", "integration"].includes(type)) || ($(droppedPlace).hasClass("unconditioned") || $(droppedPlace).hasClass("after"))) {
      droppedPlace.style.backgroundColor='rgb(239, 242, 246)';
    }
  }
}, false);

document.addEventListener("dragend", function( event ) {
  event.target.style.opacity = "";
  const droppedPlace = event.target.closest(".drop")
  if (typeof event.target.closest !== "function") {
      return
  }
  if (Boolean(droppedPlace)) {
    const droppedPlace = event.target.closest(".drop")
    droppedPlace.style.backgroundColor='white';
  }
}, false);

document.addEventListener("dragleave", function( event ) {
  // prevent default action
  event.preventDefault();
  event.stopPropagation();
  if (typeof event.target.closest !== "function") {
      return
  }
  const droppedPlace = event.target.closest(".drop")
  if (Boolean(droppedPlace)) {
    const droppedPlace = event.target.closest(".drop")
    droppedPlace.style.backgroundColor='white';
  }
}, false);

</script>
