{% extends 'admin_base.html' %}

{% block actions %}
{% if object %}
<form method="POST" action="{% url 'templates:duplicate' object.class_name object.id %}">
  {% csrf_token %}
  <button type="submit" class="btn btn-primary">
    Duplicate
  </button>
</form>
<form method="POST" action="{% url 'todo:delete' object.id %}">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">
    Delete
  </button>
</form>
{% endif %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-7">
    <div class="alert alert-warning" role="alert">
      All changes will be automatically saved. This doesn't impact current new hires.
    </div>
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <label for="id_name" class="form-label requiredField">Name</label>
        </div>
        <div class="input-icon">
          <input class="form-control d-inline-block w-9 me-3"
                 id="name"
                 value="{{ object.name }}"
                 placeholder="Sequence name"
                 name="name"
                 hx-post="{% url 'sequences:update_name' object.id %}"
                 hx-trigger="keyup delay:500ms changed"
                 hx-indicator="#name-spinner"
                 >
                 <span class="input-icon-addon requesting" id="name-spinner">
                   <div class="spinner-border spinner-border-sm text-muted" role="status"></div>
                 </span>
        </div>
        <div class="card-body" hx-trigger="reload-sequence from:body" hx-get="{% url 'sequences:timeline' object.id %}">
          {% include '_sequence_timeline.html' %}
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-block">
          Add block
        </a>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="card seq-icons sticky-top" id="template-list" style="max-height: calc(44rem + 10px)">
      {% include '_sequence_templates_list.html' with active='todo' template='Todo' %}
    </div>
  </div>
</div>

<!-- modal for adding new block -->
<div class="modal modal-blur fade show" id="modal-block" tabindex="-1" role="dialog" aria-modal="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Block</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="condition_form">
        {% include "_condition_form.html" %}
      </div>
    </div>
  </div>
</div>

<!-- modal for changing item in condition -->
<div class="modal modal-blur fade show" id="modal-template-edit" tabindex="-1" role="dialog" aria-modal="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="form-modal-content" hx-target="#form">
        <form id="form-add-item">
          <div id="form">
            <div class="text-center">
              <div class="spinner-border" role="status"></div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extra_js %}
<script>
function changeTemplate(item, condition, type) {
  document.getElementById("form-add-item").setAttribute("hx-post", `/sequences/update_item/${type}/${item}/${condition}/`)
  htmx.ajax('GET', `/sequences/forms/${type}/${item}/`, `#form`)
  htmx.process('#form-modal-content');
  setTimeout(function() {
    initWYSIWYGEditor()
    initSelectize("#form-modal-content")
  }, 300)

}
$("select#id_condition_type").on('change', function() {
  // Change things to fill in when condition_type changes
  if ($(this).val() == 1){
    $("#add-condition-form #div_id_condition_to_do").parent().removeClass("d-none")
    $("#div_id_days").parent().addClass("d-none")
  } else {
    $("#add-condition-form #div_id_condition_to_do").parent().addClass("d-none")
    $("#div_id_days").parent().removeClass("d-none")
  }
})
function editCondition(id) {
  htmx.ajax('GET', `/sequences/{{ object.id }}/condition/${id}/`, `#add-condition-form`)
  $('#modal-block').modal('show')
}
// reload selectboxes when we get a new form back from backend
document.getElementById("condition_form").addEventListener('htmx:load', function(evt) {
  $("#id_condition_to_do").selectize()
  $("#id_condition_type").selectize()
});
</script>
<script>
// FOR APPOINTMENTS
// Change when appointment date/time changes
$(document).on('change', "#id_fixed_date", function() {
  if (this.checked == true){
    $("#div_id_date").parent().removeClass("d-none")
    $("#div_id_on_day").parent().addClass("d-none")
  } else {
    $("#div_id_date").parent().addClass("d-none")
    $("#div_id_on_day").parent().removeClass("d-none")
  }
})
// FOR TODOS
$(document).on('change', "#id_send_back", function() {
  if (this.checked == true){
    console.log("checked")
    $(".slack_channel_dissapear").removeClass("d-none")
  } else {
    $(".slack_channel_dissapear").addClass("d-none")
  }
})
</script>
{% endblock %}
