version: '3'

services:
  db:
    restart: always
    image: postgres:latest
    expose:
      - "5432"
    volumes:
      - pgdata:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    networks:
      - global

  web:
    restart: always
    build: 
      dockerfile: ./back/Dockerfile
      context: ./
    ports:
      - "8000:8000"
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./back:/app
    depends_on:
      - db
    networks:
      - global

  redis:
    restart: always
    image: redis:latest
    expose:
      - "6379"
    networks:
      - global

  celery:
    build: 
      dockerfile: ./back/Dockerfile
      context: ./
    command: /usr/local/bin/celery -A back worker --beat -l info
    depends_on:
      - redis
    networks:
      - global

  nuxt:
    image: node:latest
    environment:
      - HOST=0.0.0.0
    ports:
      - "3000:3000"
    volumes:
      - ./front:/app
    command: bash -c "cd /app && npm install && cd /app/node_modules/fibers/ && npm install && cd /app && npm install -g nuxt && npm run dev"
    networks:
      - global

volumes:
  pgdata:

networks:
  global:
