services:
  db:
    restart: always
    image: postgres:latest
    expose:
      - "5432"
    volumes:
      - pgdata:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    networks:
      - global

  web:
    restart: always
    build:
      dockerfile: ./Dockerfile-dev
      context: ./back/
    ports:
      - "127.0.0.1:8600:8000"
    env_file:
      - .env
    volumes:
      - ./back:/app
    depends_on:
      - db
    networks:
      - global

volumes:
  pgdata:

networks:
  global:
