{% extends 'admin_base.html' %}
{% load i18n static %}
{% load crispy_forms_tags %}

{% block actions %}
<button type="button" hx-vals="js:{manifest: JSON.stringify(app.manifest), extra_fields: JSON.stringify(app.extra_fields), {% if object %}integration_id: {{ object.id }},{% endif %} extra_args: JSON.stringify(app.extra_args), user: app.user_id}" hx-post="{% url 'integrations:builder-test' %}" class="btn btn-primary" hx-target="#result">
    {% translate "Test form" %}
  </button>
  <button type="button" hx-vals="js:{manifest: JSON.stringify(app.manifest), extra_fields: JSON.stringify(app.extra_fields), {% if object %}integration_id: {{ object.id }},{% endif %} extra_args: JSON.stringify(app.extra_args), user: app.user_id, type: 'user_exists'}" hx-post="{% url 'integrations:builder-test' %}" class="btn btn-primary" hx-target="#result">
    {% translate "Test user exist" %}
  </button>
  <button type="button" hx-vals="js:{manifest: JSON.stringify(app.manifest), extra_fields: JSON.stringify(app.extra_fields), {% if object %}integration_id: {{ object.id }},{% endif %}extra_args: JSON.stringify(app.extra_args), user: app.user_id, type: 'execute'}" hx-post="{% url 'integrations:builder-test' %}" class="btn btn-primary" hx-target="#result">
    {% translate "Test execute" %}
  </button>
  <button type="button" hx-vals="js:{manifest: JSON.stringify(app.manifest), extra_fields: JSON.stringify(app.extra_fields), {% if object %}integration_id: {{ object.id }},{% endif %}extra_args: JSON.stringify(app.extra_args), user: app.user_id, type: 'revoke'}" hx-post="{% url 'integrations:builder-test' %}" class="btn btn-primary" hx-target="#result">
    {% translate "Test revoke" %}
  </button>
  <button type="button" hx-vals="js:{manifest: JSON.stringify(app.manifest)}" hx-post="{% url 'integrations:builder-json' %}" class="btn btn-primary" hx-target="#result">
    {% translate "Download JSON" %}
  </button>
{% endblock %}
{% block content %}

<div style="text-align: center">
  <button type="button" hx-get="{% url 'integrations:manifest-form-add' integration.id %}" class="btn btn-primary" hx-target="#modify_component">
    {% translate "Form" %}
  </button>
  <button type="button" hx-get="{% url 'integrations:builder-test' %}" class="btn btn-primary" hx-target="#result">
    {% translate "Headers" %}
  </button>
  <button type="button" hx-get="{% url 'integrations:builder-test' %}" class="btn btn-primary" hx-target="#result">
    {% translate "Exists" %}
  </button>
  <button type="button" hx-get="{% url 'integrations:builder-test' %}" class="btn btn-primary" hx-target="#result">
    {% translate "Revoke" %}
  </button>
  <button type="button" hx-get="{% url 'integrations:builder-test' %}" class="btn btn-primary" hx-target="#result">
    {% translate "Initial data form" %}
  </button>
  <button type="button" hx-get="{% url 'integrations:builder-test' %}" class="btn btn-primary" hx-target="#result">
    {% translate "Execute" %}
  </button>
</div>

<div class="row mt-4">
  <div class="col-8">
    <div class="card">
      <div class="card-body" id="modify_component">
        {% include "manifest_test/form.html" %}
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>{% trans "Result" %}</h3>
        <div id="result">
          <p>{% trans "Nothing has ran yet" %}</p>
        </div>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-body">
        <h3>{% trans "User and extra fields" %}</h3>
        <p>{% trans "Please select a user to test this integration on and fill in extra fields if they need them" %}</p>
        <label class="form-label">
          {% trans "User" %}
        </label>
        <select class="form-select disable-selectize" v-model="user_id" id="id_user">
          {% for user in users %}
          <option value="{{ user.id }}">{{ user.full_name }}</option>
          {% endfor %}
        </select>
        <div class="mb-2 mt-2">
          {% include "manifest_test/_key_value_form.html" with location="extra_fields" empty_message="There are no extra fields defined yet" add_button="Add extra field" %}
        </div>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-body">
        <h3>{% trans "Integration extra fields" %}</h3>
        <p>{% trans "Extra info necessary to do the request (api keys etc)" %}</p>
        <div class="mb-2 mt-2">
          {% include "manifest_test/_key_value_form.html" with location="extra_args" empty_message="There are no integration fields defined yet" add_button="Add extra field" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
{% if DEBUG %}
<script src="{% static 'js/vue.js' %}"></script>
{% else %}
<script src="{% static 'js/vue.min.js' %}"></script>
{% endif %}
<script src="{% static 'js/manifest.js' %}"></script>
{% endblock %}
