{% load i18n %}
{% if sequences %}
<ul class="list-group list-group-flush">
  {% for seq in sequences %}
    <li class="list-group-item p-1">
      {{ seq.name }}
    <form hx-delete="
      {% if role %}
        {% url 'people:toggle_seq_role' role.pk %}?item={{seq.pk}}
      {% else %}
        {% url 'people:toggle_seq_department' department.pk %}?item={{seq.pk}}
      {% endif %}
    " hx-target="#departmentslist" class="d-inline">
        {% csrf_token %}
        <button class="btn btn-danger btn-sm inline">{% trans "remove" %}</button>
      </form>
    </li>
  {% endfor %}
</ul>
{% endif %}
