{% load static crispy_forms_tags %}
{% load i18n %}

{% for department in departments %}
<div class="card mb-4">
  <div class="card-header">
    <div class="col-11">
      <h3 class="card-title">{{ department }}</h3>
    </div>
    <div class="col-1 text-end">
      <a class="btn btn-azure btn-sm" href="{% url "people:department_update" department.pk %}">
        {% include "_edit_icon.html" %}
      </a>
    </div>
  </div>
  <div class="card-body">
    {% for role in department.roles.all %}
      <div class="drop mb-2" data-role-id="{{role.id}}">
        <h3 class="card-title mb-2">{{ role }}</h3>
        {% if role.users.all|length %}
            <ul class="list-group list-group-flush">

            {% for user in role.users.all %}
              <li class="list-group-item" style="padding: 4px;">
                {% if user.profile_image is not None %}
                <span class="avatar me-2 avatar-xs" style="background-image: url({{ user.profile_image.get_url }})"></span>
                {% else %}
                <span class="avatar me-2 avatar-xs">{{ user.initials }}</span>
                {% endif %}
                {{ user.name }}
              </li>
            {% endfor %}
            </ul>
        {% else %}
          {% trans "No users have been added to this role yet." %}
        {% endif %}
      </div>
    {% endfor %}
    {% if department.roles.all|length == 0 %}
      {% trans "No roles have been added to this department yet." %}
      <br/>
      <a type="submit" class="btn btn-primary btn-sm mt-2" href="{% url "people:department_role_create" department.id %}">{% trans "Add role" %}</a>
    {% endif %}
  </div>
</div>
{% empty %}
<div class="card mb-4">
  <div class="card-header">
    {% trans "There are no departments yet." %}
  </div>
</div>
{% endfor %}
