{% load i18n %}

{% for department in departments %}
<div class="card mb-4 ignore-styling {% if not is_users_page %}drop{% endif %}" {% if is_users_page %}data-url="{% url 'people:toggle_seq_department' department.id %}"{% endif %}>
  <div class="card-header">
    <div class="col-11">
      <h3 class="card-title">{{ department }}</h3>
    </div>
    <div class="col-1 text-end">
      <a class="btn btn-azure btn-sm" href="{% url "people:department_update" department.pk %}">
        {% include "_edit_icon.html" %}
      </a>
    </div>
  </div>
  <div class="card-body">
    {% if not is_users_page %}
      {# sequences can be assigned to departments only, instead of roles #}
      {% include "_departments_sequences_list.html" with sequences=department.sequences.all %}
    {% endif %}
    {% for role in department.roles.all %}
      <div class="drop mb-2" data-method="post" data-url="{% if is_users_page %}{% url "people:add_user_to_role" role.pk %}{% else %}{% url "people:toggle_seq_role" role.pk %}{% endif %}">
        <h3 class="card-title mb-2">{{ role }}</h3>
        {% if is_users_page %}
          {% if role.users.all|length %}
              <ul class="list-group list-group-flush">
              {% for user in role.users.all %}
                <li class="list-group-item p-1">
                  {% if user.profile_image is not None %}
                  <span class="avatar me-2 avatar-xs" style="background-image: url({{ user.profile_image.get_url }})"></span>
                  {% else %}
                  <span class="avatar me-2 avatar-xs">{{ user.initials }}</span>
                  {% endif %}
                  {{ user.name }}
                </li>
              {% endfor %}
              </ul>
          {% else %}
            {% trans "No users have been added to this role yet." %}
          {% endif %}
        {% else %}
          {% include "_departments_sequences_list.html" with sequences=role.sequences.all %}
          {% if not role.sequences.all|length %}
            {% trans "No sequences have been added to this role yet." %}
          {% endif %}
        {% endif %}
      </div>
    {% empty %}
      {% trans "No roles have been added to this department yet." %}
      <br/>
      <a class="btn btn-primary btn-sm mt-2" href="{% url "people:department_role_create" department.id %}">{% trans "Add role" %}</a>
    {% endfor %}
  </div>
</div>
{% empty %}
<div class="card mb-4">
  <div class="card-header">
    {% trans "There are no departments yet." %}
  </div>
</div>
{% endfor %}
