<div class="dropdown">
  <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Settings
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" href="{% url 'people:send_preboarding_notification' object.id %}">Send Preboarding email</a>
    <a class="dropdown-item" href="{% url 'people:send_login_email' object.id %}">Send login email (day 1 and onwards)</a>
    <a class="dropdown-item" href="{% url 'people:add_sequence' object.id %}">Add Sequence</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'people:delete' object.id %}">Delete user</a>
  </div>
</div>
