<div class="card">
  <div class="card-header">
    <h3 class="card-title">
    {{ integration.name }}
    </h3>
    {% if active %}
      <div style="color: green; margin-left: 11px; margin-top: 3px;">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
           <circle cx="12" cy="12" r="9"></circle>
           <path d="M9 12l2 2l4 -4"></path>
        </svg>
      </div>
    {% endif %}
  </div>
  <div class="card-footer">
    {% if loading %}
    <button class="btn btn-primary w-100" disabled>
      <span class="spinner-border spinner-border-sm me-2" role="status"></span>
      Checking status
    </button>
    {% endif %}
    {% if not loading %}
      {% if active %}
        <button class="btn btn-primary w-100">
          Activated
        </button>
      {% else %}
      <a href="{% url 'people:new_hire_give_integration' object.id integration.id %}" class="btn btn-white w-100">
          Give access
        </a>
      {% endif %}
    {% endif %}
  </div>
</div>
