{% load i18n %}
<form hx-post="{% url 'people:toggle_new_hire_task' object.id template.id view.kwargs.type %}" hx-swap="outerHTML" hx-indicator="#spinner-{{template.id}}">
  <button type="submit" class="btn {% if template.id in user_items %}btn-primary{% else %}btn-white{% endif %}">
    {% if template.id in user_items %}
      {% translate "Added" %}
    {% else %}
      {% translate "Add" %}
    {% endif %}
    <span class="requesting alsodisplay" id="spinner-{{template.id}}">
      <div class="spinner-border spinner-border-sm text-muted" role="status"></div>
    </span>
  </button>
</form>
