{% extends 'admin_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card mt-3">
      <div class="card-body" hx-get="{% url 'people:import-users-hx' integration.id %}" hx-trigger="load">
        <div class="spinner-border"></div>
        <span style="margin-left: 10px;" class="ml-2"> Getting users... </span>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
  <script>
    document.addEventListener('htmx:afterRequest', function(evt) {
      // initialize the select button
      $('select').selectize()
      $('.role > div').removeClass("mb-3").css("margin-top", "5px")
    })
  </script>
{% endblock %}
