{% extends 'admin_base.html' %}
{% load static crispy_forms_tags %}
{% load i18n %}

{% block actions %}
  <div class="alert alert-warning mb-0" role="alert">
    {% translate "All changes will be saved automatically." %}
  </div>
  <a href="{% url 'people:department_create' %}" class="btn btn-primary">
    {% trans "Add" %}
  </a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
  </div>
  <div class="col-7" id="departmentslist">
    {% include "_departments_list.html" %}
  </div>
  <div class="col-5">
    <div class="card sticky-top" style="max-height: calc(44rem + 10px)">
      <div class="card-header">
        <h3 class="card-title">{% translate "Users" %}</h3>
      </div>
      <div class="card-body card-body-scrollable card-body-scrollable-shadow">
        <div class="divide-y">
          {% for user in users %}
          <div>
            <div class="row" draggable="true" style="cursor:grab" data-user-id="{{user.id}}">
              <div class="col">
                <div class="text-truncate">
                  <p style="margin-bottom:0px">{{ user.full_name }}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="text-center mt-2"><p>{% trans "Drag and drop the users in the roles you want them to be part of." %}</p></div>
  </div>
</div>
{% endblock %}

{% block extra_css %}
<style>
  .drop {
    border-left: 2px solid transparent;
    transform: translateX(0);
    padding-left: 0px;
    transition:
      transform 0.2s ease,
      border-left-color 0.1s ease,
      padding-left 0.3s ease
  }
  .drop.droppable {
    transform: translateX(5px);
    border-left-color: color-mix(in srgb,var(--tblr-primary) 10%,transparent);
    padding-left: 10px;
  }
</style>
{% endblock extra_css %}
{% block extra_js %}
<script>

var dragged;
var draggedToElement;

function markAsDroppable(element) {
  $(element).addClass("droppable");
}

function removeDroppableClasses() {
  $('.droppable, .not_droppable').removeClass('droppable not_droppable');
}

document.addEventListener("dragstart", function( event ) {
  dragged = event.target;
  event.target.style.opacity = .5;

  $('.drop').each((index, element) => {
    markAsDroppable(element);
  });
}, false);

document.addEventListener("drop", function( event ) {
  // prevent default action
  event.preventDefault()

  const droppedPlace = event.target.closest(".drop")
  draggedToElement = droppedPlace

  if (Boolean(droppedPlace)) {
    console.log(dragged.dataset)
    const userId = dragged.dataset.userId
    const roleId = droppedPlace.dataset.roleId

    htmx.ajax('POST', `/admin/people/colleagues/role/${roleId}/user/${userId}/`, {
      target: "#departmentslist",
    })
  }
}, false)

document.addEventListener("dragover", function( event ) {
  // prevent default action
  event.preventDefault();
  event.stopPropagation();
  const droppedPlace = event.target.closest(".drop")
  if (Boolean(droppedPlace)) {
    droppedPlace.style.backgroundColor='rgb(239, 242, 246)';
  }
}, false);

document.addEventListener("dragend", function( event ) {
  removeDroppableClasses();
  event.target.style.opacity = "";
  if (typeof event.target.closest !== "function") {
      return
  }
  if (Boolean(draggedToElement)) {
    draggedToElement.style.backgroundColor='white';
  }
}, false);

document.addEventListener("dragleave", function( event ) {
  // prevent default action
  event.preventDefault();
  event.stopPropagation();
  if (typeof event.target.closest !== "function") {
      return
  }
  const droppedPlace = event.target.closest(".drop")
  if (Boolean(droppedPlace)) {
    const droppedPlace = event.target.closest(".drop")
    droppedPlace.style.backgroundColor='white';
  }
}, false);
</script>
{% endblock extra_js %}
