{% extends 'admin_base.html' %}
{% load i18n %}

{% block actions %}
  <div class="alert alert-warning mb-0" role="alert">
    {% translate "All changes will be saved automatically." %}
  </div>
  {% if users %}
    <a href="{% url 'people:departments_sequences' %}" class="btn btn-info btn-outline">
      {% trans "Sequences" %}
    </a>
  {% else %}
    <a href="{% url 'people:departments' %}" class="btn btn-info btn-outline">
      {% trans "Users" %}
    </a>
  {% endif %}

  <a href="{% url 'people:department_create' %}" class="btn btn-primary">
    {% trans "Add" %}
  </a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
  </div>
  <div class="col-7" id="departmentslist">
    {% include "_departments_list.html" %}
  </div>
  <div class="col-5">
    <div class="card sticky-top" style="max-height: calc(44rem + 10px)">
      <div class="card-header">
        <h3 class="card-title">
          {% if users %}
            {% translate "Users" %}
          {% else %}
            {% translate "Sequences" %}
          {% endif %}
        </h3>
      </div>
      <div class="card-body card-body-scrollable card-body-scrollable-shadow">
        <div class="divide-y">
          {% for user in users %}
          <div>
            <div class="row" draggable="true" style="cursor:grab" data-item-id="{{user.id}}">
              <div class="col">
                <div class="text-truncate">
                  <p class="mb-0">{{ user.full_name }}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% for sequence in sequences %}
          <div>
            <div class="row" draggable="true" style="cursor:grab" data-item-id="{{sequence.id}}">
              <div class="col">
                <div class="text-truncate">
                  <p style="mb-0">{{ sequence.name }}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="text-center mt-2">
      <p>
        {% if users %}
          {% trans "Drag and drop the users in the roles you want them to be part of." %}
        {% else %}
          {% trans "Drag and drop the sequences in the roles." %}
        {% endif %}
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_css %}
<style>
  .drop {
    border-left: 2px solid transparent;
    transform: translateX(0);
    padding-left: 0px;
    transition:
      transform 0.2s ease,
      border-left-color 0.1s ease,
      padding-left 0.3s ease
  }
  .drop.droppable {
    transform: translateX(5px);
    border-left-color: color-mix(in srgb,var(--tblr-primary) 10%,transparent);
    padding-left: 10px;
  }
  .drop.droppable.drag-hover {
    background-color: rgb(239, 242, 246)
  }
</style>
{% endblock extra_css %}
{% block extra_js %}
<script>

let dragged;
let draggedToElement;

function markAsDroppable(element) {
  $(element).addClass("droppable");
}
function removeMarkAsDroppable(element) {
  $(element).removeClass("droppable");
}

document.addEventListener("dragstart", function( event ) {
  dragged = event.target;
  $('.drop').each((index, element) => {
    markAsDroppable(element);
  });
});

document.addEventListener("drop", function( event ) {
  // prevent default action
  event.preventDefault()

  const droppedPlace = event.target.closest(".drop")
  draggedToElement = droppedPlace

  if (droppedPlace) {
    const itemId = dragged.dataset.itemId
    const roleId = droppedPlace.dataset.roleId
    const departmentId = droppedPlace.dataset.departmentId

    let fullUrl = null
    if (roleId !== undefined) {
      const urlPart = "{% if users %}user{% else %}seq{% endif %}"
      fullUrl = `/admin/people/colleagues/role/${roleId}/${urlPart}/${itemId}/add/`
    } else {
      fullUrl = `/admin/people/colleagues/department/${departmentId}/seq/${itemId}/add/`
    }
    htmx.ajax('POST', fullUrl, {
      target: "#departmentslist",
    })
  }
})

document.addEventListener("dragover", function( event ) {
  // prevent default action
  event.preventDefault();
  event.stopPropagation();
  const droppedPlace = event.target.closest(".drop")
  if (droppedPlace) {
    droppedPlace.classList.add("drag-hover");
  }
});

document.addEventListener("dragend", function( event ) {
  $('.drop').each((index, element) => {
    removeMarkAsDroppable(element);
  });
});

document.addEventListener("dragleave", function( event ) {
  // prevent default action
  event.preventDefault();
  event.stopPropagation();
  const droppedPlace = event.target.closest(".drop")
  if (droppedPlace) {
    const droppedPlace = event.target.closest(".drop")
    droppedPlace.classList.remove("drag-hover");
  }
});
</script>
{% endblock extra_js %}
