{% extends 'admin_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        {% if not integration_config_form.error %}
          <form method="post">
            {% csrf_token %}
            {% if not integration_config_form.fields|length and not user_details_form.fields|length %}
              {% translate "No additional data needed, please click on 'create user' to continue." %}
              <br>
            {% endif %}
            {{ integration_config_form|crispy }}
            {{ user_details_form|crispy }}
            <button class="btn btn-primary" type="submit">{% translate "Create user" %}</button>
          </form>
        {% else %}
          {{ integration_config_form.error }}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
