{% extends 'admin_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block actions %}
  {% include "_new_hire_settings_menu.html" %}
{% endblock %}

{% block content %}
{% include "_new_hire_menu.html" %}
{% if integrations %}
  <div class="row">
    {% for integration in integrations %}
    <div class="column col-3 integration-{{integration.id}} mb-2">
      {% include "_user_access_card.html" %}
    </div>
    {% endfor %}
  </div>
{% else %}
  <div class="card mt-3">
    <div class="card-body">
      {% translate "You have not enabled any integrations for account provisitioning." %}
    </div>
  </div>
{% endif %}
{% endblock %}

{% block extra_js %}
<script>
  {% for integration in integrations %}
    $.ajax({
      url: "{% url 'people:user_check_integration' object.id integration.id %}",
      method: "get",
      headers: {
        'X-CSRFToken': '{{ csrf_token }}'
      }
    }).done(function( data, textStatus, request) {
      $(".integration-{{integration.id}}").html(data)
    });
  {% endfor %}
</script>
{% endblock %}
