{% extends 'admin_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
        <div class="card-header">
          <h3 class="card-title">{% translate "Items that will never be triggered" %}</h3>
        </div>
        <div class="card-body">
          {% for condition in conditions %}

            {# FOR NEW HIRES #}
            {% if condition.external_new_hire|length or condition.to_do.all|length or condition.resources.all|length or condition.introductions.all|length %}
            <span class="badge bg-azure mb-2">{% translate "new hire" %}</span>
            {% endif %}
            {% for item in condition.preboarding.all %}
              {% include '_condition_line_item.html' with type='preboarding' read_only=True %}
            {% endfor %}
            {% for item in condition.appointments.all %}
              {% include '_condition_line_item.html' with type='appointment' read_only=True %}
            {% endfor %}
            {% for item in condition.external_new_hire %}
              {% include '_condition_line_item.html' with read_only=True %}
            {% endfor %}
            {% for item in condition.to_do.all %}
              {% include '_condition_line_item.html' with type='todo' read_only=True %}
            {% endfor %}
            {% for item in condition.resources.all %}
              {% include '_condition_line_item.html' with type='resource' read_only=True %}
            {% endfor %}
            {% for item in condition.introductions.all %}
              {% include '_condition_line_item.html' with type='introduction' read_only=True %}
            {% endfor %}
            {% for item in condition.badges.all %}
              {% include '_condition_line_item.html' with type='badge' read_only=True %}
            {% endfor %}
            {% for item in condition.integration_configs.all %}
              {% include '_condition_line_item.html' with type='integrationconfig' read_only=True %}
            {% endfor %}

            {# FOR ADMINS #}
            {% if condition.external_admin|length or condition.admin_tasks.all|length %}
            <span class="badge bg-orange mb-2">{% translate "admins" %}</span>
            {% endif %}
            {% for item in condition.external_admin %}
              {% include '_condition_line_item.html' with type='admintask' read_only=True %}
            {% endfor %}
            {% for item in condition.external_messages.for_admins %}
              {% include '_condition_line_item.html' with read_only=True %}
            {% endfor %}

            {% include "_trigger_sequence_items.html" %}

            {% if condition != conditions.last %}
              <div class="hr-text">{% translate "Condition" %}</div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="card-footer">
          <a href="{% url 'people:new_hires' %}" class="btn btn-primary" style="float: right">{% translate "Go back to new hires" %}</a>
        </div>
    </div>
  </div>
</div>
{% endblock %}
