{% extends 'admin_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <p>{% translate "This will revoke the access to this integration for this user. This cannot be reversed!" %}</p>
          <p>{{ integration.manifest.revoke.message }}</p>
          <button class="btn btn-primary" type="submit">{% translate "Revoke user access" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
