{% extends 'admin_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-8 col-12">
    <div class="card mt-3">
      <div class="card-header">
        <h3 class="card-title">
          {% if form.instance.pk %}
            {{ object.name }}
          {% else %}
            {% translate "New role" %}
          {% endif %}
        </h3>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary">
            {% if form.instance.pk %}
              {% trans "Update" %}
            {% else %}
              {% trans "Create" %}
            {% endif %}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

