[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*" # Uploading files to AWS compatible endpoints -- might remove (only used once)
cryptography = "*" # Necessary for fernet fields
Django = "<6"
django-anymail = "*" # Sending mails through multiple providers
django-axes = { extras = ["ipware"], version = "*" } # Blocking bots/bruteforce
django-crispy-forms  = "*" # Making forms better
django-environ = "*" # Getting environment variables
djangorestframework = "*" # Needed for API endpoints
gunicorn = "*" # Web server -- maybe replace with uvicorn as it seems to be faster
pyotp = "*" # TOTP 2FA authentication
requests = "*" # API calls
sentry-sdk = "*" # Error logging
sparkpost = "*" # Sending email messages through sparkpost -- might remove (there are plenty others)
twilio = "*" # Sending text messages -- might remove (only used for one or two calls)
whitenoise = "*" # Serving static files by Django
django-q-sentry = "*" # Needed for django-q error logging
croniter = "*" # Needed for django-q scheduled tasks
slack-bolt = "*"
django-q2 = "*" # Background tasks
psycopg = {extras = ["binary"], version = "*"}

[dev-packages]
coverage = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-factoryboy = "*"
freezegun = "*"
django-debug-toolbar = "*"
ruff = "*"
pytest-xdist = "*"

[requires]
python_version = "3.13"
