{% extends 'admin_base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <div class="divide-y">
          {% for object in object_list %}
            <div>
              <div class="row">
                <div class="col">
                  <div class="text-truncate">
                    <strong>{{ object.title }}</strong>
                  </div>
                  <div class="text-truncate text-muted">{{ object.description }} - {{ object.added }}</div>
                </div>
                {% if object.added > date_last_checked %}
                  <div class="col-auto align-self-center">
                    <div class="badge bg-primary"></div>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
