{% extends 'settings_base.html' %}
{% load i18n %}

{% block actions %}
<div class="col-auto ms-auto d-print-none">
  <div class="btn-list">
    <a href="{% url 'settings:email-templates' %}" class="btn btn-outline-primary d-none d-sm-inline-block">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <line x1="5" y1="12" x2="19" y2="12"></line>
        <line x1="5" y1="12" x2="11" y2="18"></line>
        <line x1="5" y1="12" x2="11" y2="6"></line>
      </svg>
      {% translate "Back to templates" %}
    </a>
  </div>
</div>
{% endblock %}

{% block settings_content %}
<div class="card-body">
  <div class="alert alert-danger" role="alert">
    <h3 class="alert-title">{% translate "Are you sure you want to delete this email template?" %}</h3>
    <p>{% translate "This action cannot be undone. This will permanently delete the email template:" %}</p>
    <p><strong>{{ object.name }}</strong> ({{ object.get_category_display }})</p>
  </div>
  
  <form method="post">
    {% csrf_token %}
    <div class="form-footer">
      <a href="{% url 'settings:email-templates' %}" class="btn btn-link">{% translate "Cancel" %}</a>
      <button type="submit" class="btn btn-danger ms-auto">{% translate "Yes, delete this template" %}</button>
    </div>
  </form>
</div>
{% endblock %}
