{% extends 'settings_base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block actions %}{% endblock %}
{% block settings_content %}
  {% include '_personal_tabs.html' %}
  {% if not otp_url %}
    <div class="card-body">
      <p>{% translate "OTP has been enabled for your account" %}</p>
    {% if keys %}
      <p>{% translate "Please copy and save the keys below. These will only show once - you won't be able to see them again." %}</p>
      <p>{% translate "You will need these if you ever lose access to your 2FA app." %}</p>
      {% for key in keys %}
        <p><b>{{ key }}</b></p>
      {% endfor %}
    {% endif %}
    </div>
  {% else %}
    <form method="POST">
      {% csrf_token %}
      <div class="card-body">
        <p>{% translate "Please scan the code below with your 2FA app of your choice. We recommend andOTP or Aegis (but you can use Google Authenticator or Authy)." %}</p>
        <div class="mb-4" id="qrcode"></div>
        {{ form|crispy }}
        <div class="form-footer">
          <button type="submit" class="btn btn-primary">{% translate "Submit" %}</button>
        </div>
      </div>
    </form>
  {% endif %}
{% endblock %}
{% block js %}
<script src="{% static 'js/qrcode.min.js' %}"></script>
<script type="text/javascript">
  new QRCode(document.getElementById("qrcode"), "{{ otp_url }}");
</script>
{% endblock %}
