{% extends 'settings_base.html' %}
{% load i18n %}

{% block settings_content %}
<div class="table-responsive">
  <table
		class="table table-vcenter table-nowrap">
    <thead>
      <tr>
        <th>{% translate "Name" %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for integration in integrations %}
      <tr>
        <td>{{ integration.name }}</td>
        <td style="text-align: right">
          {% if integration.extra_action_url and integration.obj is not None  %}
          <a href="{% url integration.extra_action_url %}" class="btn btn-primary">
            {{ integration.extra_action_text }}
          </a>
          {% endif %}
          {% if integration.obj is not None %}
          <a href="{% url 'settings:delete-integration' integration.obj.id %}" class="btn btn-danger">
            {% translate "Remove" %}
          </a>
          {% elif not integration.disabled %}
          <a href="{{ integration.create_url }}" class="btn btn-primary">
            {% translate "Enable" %}
          </a>
          {% else %}
          <button class="btn btn-white" disabled>
            {% translate "Disabled (legacy)" %}
          </a>
          {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
<div class="card mt-4">
<div class="table-responsive">
  <table
		class="table table-vcenter table-nowrap">
    <thead>
      <tr>
        <th>{% translate "Custom integrations" %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for integration in custom_integrations %}
      <tr>
        <td>{{ integration.name }}</td>
        <td style="text-align: right">
          <a href="{% url 'integrations:update-creds' integration.id %}" class="btn btn-primary">
            {% translate "Update credentials" %}
          </a>
          <a href="{% url 'integrations:update' integration.id %}" class="btn btn-primary">
            {% translate "Update manifest" %}
          </a>
          <a href="{% url 'settings:delete-integration' integration.id %}" class="btn btn-danger">
            {% translate "Remove" %}
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
