{% extends 'admin_base.html' %}
{% load i18n %}

{% block content %}
<div class="row">
  {% if user.is_admin %}
  <div class="col-2">
    <div class="card">
      <ul class="list-group">
        <a href="{% url 'settings:general' %}"><li class="list-group-item{% if 'general' in request.path %} active{% endif %}" aria-current="true">{% translate "General" %}</li></a>
        <a href="{% url 'settings:email' %}"><li class="list-group-item{% if 'email' in request.path %} active{% endif %}" aria-current="true">{% translate "Email" %}</li></a>
        <a href="{% url 'settings:slack' %}"><li class="list-group-item{% if 'slack' in request.path %} active{% endif %}" aria-current="true">{% translate "Slack bot" %}</li></a>
        <a href="{% url 'settings:welcome-message' "en" 0 %}"><li class="list-group-item{% if 'welcome_message' in request.path %} active{% endif %}">{% translate "Welcome messages" %}</li></a>
        <a href="{% url 'settings:ai-settings' %}"><li class="list-group-item{% if 'ai-settings' in request.path %} active{% endif %}">{% translate "AI Content" %}</li></a>
        <a href="{% url 'settings:personal-language' %}"><li class="list-group-item{% if 'personal' in request.path %} active{% endif %}">{% translate "Personal" %}</li></a>
        <a href="{% url 'settings:integrations' %}"><li class="list-group-item{% if 'integrations' in request.path %} active{% endif %}">{% translate "Integrations" %}</li></a>
        <a href="{% url 'settings:administrators' %}"><li class="list-group-item{% if 'administrators' in request.path %} active{% endif %}">{% translate "Administrators" %}</li></a>
      </ul>
    </div>
  </div>
  {% endif %}
  <div class="col-{% if user.is_admin %}10{% else %}12{% endif %}">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div>
          <h3 class="card-title">{{ title }}</h3>
          {% if subtitle %}<div class="text-muted">{{ subtitle }}</div>{% endif %}
        </div>
        <div>
          {% block actions %}{% endblock %}
        </div>
      </div>
      {% block settings_content %}
      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}
