{% extends 'new_hire_base.html' %}
{% load humanize %}

{% block actions %}{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-8">
    <div class="card">
      <div class="card-body" style="position: relative;">
        <h2>{{ object.to_do.name }}</h2>
        {% include '_content.html' with content=object.to_do.content_json %}
        {% if not object.completed %}
        <a href="{% url 'new_hire:to_do_complete' object.id %}" class="btn btn-primary w-100">
          I have completed this item!
        </a>
        {% else %}
        <b> You have already completed this item </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
