
server {
        listen 80;
        listen [::]:80;
        server_name %host;

        location ~ /.well-known/acme-challenge {
          allow all;
          root /var/www/html;
        }
        
	location / {
                rewrite ^ https://$host$request_uri? permanent;
        }
}

server {
        listen 443 ssl;
        listen [::]:443 ssl;
        server_name %host;

        server_tokens off;

        ssl_certificate /etc/letsencrypt/live/%host/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/%host/privkey.pem;

        ssl_buffer_size 8k;

        ssl_dhparam /etc/ssl/certs/dhparam-2048.pem;

        ssl_protocols TLSv1.2 TLSv1.1 TLSv1;
        ssl_prefer_server_ciphers on;

        ssl_ciphers ECDH+AESGCM:ECDH+AES256:ECDH+AES128:DH+3DES:!ADH:!AECDH:!MD5;

        ssl_ecdh_curve secp384r1;
        ssl_session_tickets off;

        ssl_stapling on;
        ssl_stapling_verify on;
        resolver 8.8.8.8;

        location / {
            proxy_pass http://web:8000;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

            proxy_set_header X-Frame-Options "SAMEORIGIN";
            proxy_set_header X-XSS-Protection "1; mode=block";
            proxy_set_header X-Content-Type-Options "nosniff";
            proxy_set_header Referrer-Policy "no-referrer-when-downgrade";
        }

        #root /var/www/html;
        #index index.html index.htm index.nginx-debian.html;
}
