{% extends 'admin_base.html' %}
{% load crispy_forms_tags %}

{% block actions %}
  {% if object %}
    <form method="POST" action="{{ object.delete_url }}">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">
        Delete
      </button>
    </form>
  {% endif %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <form method="POST">
        <div class="card-body">
          {% crispy form %}
          <div class="form-footer">
            <button type="submit" class="btn btn-primary">{% if object %}Update{% else %}Create{% endif %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
