{% load crispy_forms_field %}

<div class="form-group">
  <div class="custom-control custom-checkbox">
    <label class="form-label custom-control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
    <input id="{{ field.id_for_label }}" name="{% if field.name|wordcount > 1 %}{{ field.name|slugify }}{% else %}{{ field.name }}{% endif %}" hidden value="" {% if field_class %}class="{{ field_class }}"{% endif %}{% if flat_attrs %} {{ flat_attrs }}{% endif %}/>

    <div id="element"></div>
    {% verbatim %}
    <div class="alert alert-info" role="alert">
      <p><small>You can use {{ first_name }}, {{ last_name }}, {{ position }}, {{ manager }}, {{ buddy }} in the editor. It will be replaced by the values corresponding to the new hire.</small></p>
  </div>
    {% endverbatim %}
  </div>
</div>

{% if field.value and field.value is not None %}
{{ field.value|json_script:"content" }}
{% endif %}
