{% load crispy_forms_field %}

<div class="form-group">
  <div class="custom-control custom-checkbox">
    <label class="form-label custom-control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
    <input id="{{ field.id_for_label }}" name="{% if field.name|wordcount > 1 %}{{ field.name|slugify }}{% else %}{{ field.name }}{% endif %}" hidden value="" {% if field_class %}class="{{ field_class }}"{% endif %}{% if flat_attrs %} {{ flat_attrs }}{% endif %}/>

    <div id="element"></div>
  </div>
</div>
