{% load crispy_forms_field %}
{% load i18n %}

<div class="form-group">
  <div class="custom-control custom-checkbox">
    <label class="form-label custom-control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
    <input id="{{ field.id_for_label }}" name="{% if field.name|wordcount > 1 %}{{ field.name|slugify }}{% else %}{{ field.name }}{% endif %}" hidden value="" {% if field_class %}class="{{ field_class }}"{% endif %}{% if flat_attrs %} {{ flat_attrs }}{% endif %}/>

    <div id="element"></div>
    <div class="alert alert-info" role="alert">
      <p><small>{% translate "You can use &#123;&#123; first_name &#125;&#125;, &#123;&#123; last_name &#125;&#125;, &#123;&#123; position &#125;&#125;, &#123;&#123; manager &#125;&#125;, and &#123;&#123; buddy &#125;&#125; in the editor. It will be replaced by the values corresponding to the new hire." %}</small></p>
  </div>
  </div>
</div>

{% if field.value and field.value is not None %}
{{ field.value|json_script:"content" }}
{% endif %}
