.v-icon.v-icon {
  font-size: 16px !important;
}
.red-remove {
  color: #8b2819;
  text-align: right;
}

.v-treeview-node.v-treeview-node--leaf {
  cursor: pointer;
}

.v-treeview-node__root .mdi-menu-down::before {
  font-size: 24px;
}
.theme--light.v-application {
  background-color: #fafafa !important;
}
.v-application p {
  margin-bottom: 10px !important;
}
.v-input__control .v-icon {
  font-size: 24px !important;
}
